/* -------------------------------------
    BUTTONS
------------------------------------- */

.btn {
  width: 100%;

  > tr > td {
    padding-top: 15px;
    padding-bottom: 4px;
  }

  table {
    width: auto;
  }

  table td {
    background-color: #ffffff;
    border-radius: $btn-br;
    border-bottom: 2px solid #426f55;
    text-align: center;
    width: 80%;
    max-width: 290px;
  }

  a{
    background-color: #ffffff;
    border: solid 1px $primary-btn-color;
    border-radius: $btn-br;
    color: $primary-color;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    padding: 7px 40px;
    text-decoration: none;
    text-transform: none;
    width: 100%;
  }
}

// Primary call to action button
.btn-primary {

  table td {
    background-color: $primary-btn-color;
  }

  a{
    background-color: $primary-btn-color;
    border-color: $primary-btn-color;
    color: #ffffff;
  }
}

// Secondary button
.btn-secondary {

  table td {
    background-color: transparent;
  }

  a{
    background-color: transparent;
    border-color: $primary-color;
    color: $primary-color;
  }
}
