/* -------------------------------------
    CONFIGURE YOUR VARIABLES
------------------------------------- */

$padding: 35px; // For consistent padding
$grey: #f4f3f4; // Background color
$width: 485px; // Width of the content area
$br: 0px; // Border radius
$btn-br: 4px; // Border radius
$primary-color: #1589ca; // Primary color for links
$primary-btn-color: #56916e; // Primary color for buttons
$font-color: #222222; // Default font color

// Typography
// -------

$body-font-family:          "Segoe UI", "Helvetica", Helvetica, Arial, Tahoma, sans-serif !default;
$body-font-weight:          400 !default;
$body-font-size:            14px !default;
$body-font-color:           #222222 !default;
$body-line-height:          1.4 !default;

// Notices
// -------

$notice-color-info:         #3d88ce !default;
$notice-color-success:      #81ad22 !default;
$notice-color-warning:      #c6a121 !default;
$notice-color-danger:       #be2c2c !default;

$notice-border-radius:      6px !default;
$notice-font-size:          $body-font-size !default;
$notice-font-weight:        $body-font-weight !default;
$notice-line-height:        $body-line-height !default;
$notice-padding:            8px 12px !default;
$notice-margin:             10px 0 !default;

// Dividers
// --------

$divider-margin:			20px 0 !default;
$divider-color:				#ccc !default;